

html {
    height: 100%;
    margin: 0;
    margin-top: 50px; //Afficher les var dump
    padding: 0;
    
}

body {
    position: relative;
    min-height: 100%;
    background-color: lightgray;
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

section {
    padding-bottom: 20px;
}

footer {
    //background-color: #010100;
    color: lightgray;
    bottom:0;
    color: #010101;
    margin : 5px;
    //box-shadow: 10px 10px 30px #AF5816;
}

.contenu {
    box-shadow: 10px 10px 30px #AF5816;
    border-radius: 5px;
}

.glyph {
    display: inline;
    height: 15px;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    float: left;
    display: inline;
    box-shadow: 10px 10px 30px #303030;
    background-color: lightgray;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}


