

html {
    height: 100%;
    margin: 0;
    margin-top: 50px; //Afficher les var dump + erreur
    padding: 0;

}

body {
    position: relative;
    min-height: 100%;
    background-color: lightgray;
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

section {
    padding-bottom: 20px;
}

footer {
    color: lightgray;
    bottom:0;
    color: #010101;
    margin : 5px;
    //box-shadow: 10px 10px 30px #AF5816;
}

.contenu {
    box-shadow: 10px 10px 30px #AF5816;
    border-radius: 5px;
    margin-bottom: 30px
}

.glyphicon {
    display: inline;
    text-decoration: none;
    height: 15px;
    color: #000;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    float: left;
    display: inline;
    box-shadow: 10px 10px 30px #303030;
    background-color: lightgray;
}

.thumbnail .caption-full {
    padding-left: 5px;
    padding-right: 5px;
    color: #333;
}

table, thead {
    font-size: 1.2em;
}

textarea {
    max-width: 100%;
    max-height: 50%;
}

.jumbotron {
    padding: 5px;
    font-size: 15px;
}

thead {
    background-color: #bf3e11;
}

tbody tr {
    background-color: #e3e3e3;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #DE6A1C;
}

.table-striped tbody tr:nth-child(odd):hover {
    cursor: pointer;
    background-color: #DE6A1C;
}

.glyphicon-star {
    color: #dd4814;
}
.glyphicon-star-empty {
    color: #dd4814;
}

